body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

#images {
  padding: 0;
  margin: 0;
  list-style: none;
}

#images li {
  display: inline-block;
  margin: 10px;
  float: left;
}

.image-item {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.image-item:after {
  content: "♡";
  position: absolute;
  top: 10px;
  right: 10px;
}
.image-item.favourited {
  border: 2px solid red;
}
.image-item.favourited:after {
  content: "♥";
  position: absolute;
  top: 10px;
  right: 10px;
  color: red;
  font-size: 1.5em;
}
.image-item .image-desc{
  position: absolute;
  width: calc(100% - 10px);
  padding: 10px;
  bottom: -100%;
  left: 0;
  background: rgba(255, 255, 255, 0.5);
  transition: bottom 0.5s;
}
.image-item:hover .image-desc {
  bottom: 0;
}
.image-item span {
  display: block;
}
